<p>
   
    <mat-toolbar class="fondo">
        <div class="logo">
            <img src="../../../assets/img/Prototipo3-solo-removebg-preview.png" alt="logo">
            <h1 style="color: white; font-size: 35px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Zoo Terra Fauna</h1> 
        </div>
        <div class="links">
            <ul>
                <li><a mat-button routerLink="">Inicio</a></li>
                <li><a mat-button routerLink="/Animales">Animales</a></li>
                <li><a mat-button routerLink="/actividades">Actividades</a></li>
                <li><a mat-button routerLink="/Voluntarios">Voluntariado</a></li>
                <li><a mat-button routerLink="/Nosotros">Sobre Nosotros</a></li>
            </ul>
        </div>
    </mat-toolbar>
    <p>